<!--
  Generated template for the ReportesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-toolbar hideBackButton="true"  color="primary" class="toolbar toolbar-md" no-border-top="">
	  	<div class="toolbar-background"></div>
    	<button ion-button menuToggle>
    		<ion-icon name="menu"></ion-icon>
		</button>
    	<div class="toolbar-content"></div>
    	<ion-title>{{'REPORTE'|translate}}</ion-title>    	
  	</ion-toolbar>
</ion-header>


<ion-content padding>

</ion-content>
