<!--
  Generated template for the SearchLotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
    	<ion-title>Buscar | Lotes por código</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content padding>
	
	<ion-searchbar [(ngModel)]="searchCode" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Código"
  *ngIf="showSearchCode"></ion-searchbar>

	<div *ngIf="searching" class="spinner-container">
    	<ion-spinner></ion-spinner>
  	</div>

  	<form #loginForm="ngForm" autocomplete="off" >
	    <ion-list>
	    	<ion-item-sliding *ngFor="let code of codes">
		        <ion-item>
		            {{code.codigo}} - {{ code.lote }}
		        </ion-item>
		        <ion-item-options side="right">
		          <button ion-button color="secondary"  (click)="codeSelected(code)">
			        <ion-icon name="create"></ion-icon>
			        Modificar
			      </button> 
			      <button ion-button color="danger" (click)="eliminar(code)" >
			        <ion-icon name="close-circle"></ion-icon>
			        Eliminar
			      </button>
			    </ion-item-options>
		  </ion-item-sliding>
	    </ion-list>
	</form>

</ion-content>
