<ion-header>

  <ion-navbar>
    <ion-title>Modificar ubicación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="updateUbicacion()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Almacen</ion-label>
          <ion-input disabled="true" name="almacen" [(ngModel)]="ubicacion.almacen" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Pasillo</ion-label>
          <ion-input disabled="true" name="pasillo" [(ngModel)]="detail.pasillo" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Modulo</ion-label>
          <ion-input disabled="true" name="modulo" [(ngModel)]="detail.modulo" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Nivel</ion-label>
          <ion-input disabled="true" name="nivel" [(ngModel)]="detail.nivel" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Sección</ion-label>
          <ion-input disabled="true" name="seccion" [(ngModel)]="detail.seccion" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Alto</ion-label>
          <ion-input required name="alto" type="number" [(ngModel)]="detail.alto" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Ancho</ion-label>
          <ion-input required name="ancho" type="number" [(ngModel)]="detail.ancho" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Fondo</ion-label>
          <ion-input required name="fondo" type="number" [(ngModel)]="detail.fondo" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Zona</ion-label>
          <ion-input name="zona" (input)="toUpperCaseZona()" [(ngModel)]="detail.zona" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-label>Picking</ion-label>
            <ion-checkbox [(ngModel)]="detail.picking" name="picking" checked (ionChange)="datachanged($event,'picking')"></ion-checkbox>

          </ion-item>

          <ion-item>
            <ion-label>Montacargas</ion-label>
            <ion-checkbox [(ngModel)]="detail.montacargas" name="montacargas" *ngIf="detail.montacargas=='1';else elseBlock2" checked="true" (ionChange)="datachanged($event,'montacargas')"></ion-checkbox>
            <ng-template #elseBlock2>
              <ion-checkbox [(ngModel)]="detail.montacargas" name="montacargas" checked="false" (ionChange)="datachanged($event,'montacargas')"></ion-checkbox>
            </ng-template>
          </ion-item>

          <ion-item>
            <ion-label>Piso</ion-label>
            <ion-checkbox [(ngModel)]="detail.piso" name="piso" *ngIf="detail.piso=='1';else elseBlock3" checked="true" (ionChange)="datachanged($event,'piso')"></ion-checkbox>
            <ng-template #elseBlock3>
              <ion-checkbox [(ngModel)]="detail.piso" name="piso" checked="false" (ionChange)="datachanged($event,'piso')"></ion-checkbox>
            </ng-template>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block color="primary" type="submit" [disabled]="!loginForm.form.valid">Actualizar</button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
