<ion-header>

  <ion-navbar>
    <ion-title>Actualizar Conteo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="updateConteo()" autocomplete="off" >
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input [(ngModel)]="conteo.documento" name="documento" required (input)="updateField();"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Comentario</ion-label>
          <ion-input [(ngModel)]="conteo.comentario_in" name="comentario_in" (input)="updateField2();" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-label floating>Usuario 1</ion-label>
            <ion-select [(ngModel)]="conteo.usuario1" name="usuario1" interface="popover" required >
              <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Usuario 2</ion-label>
            <ion-select [(ngModel)]="conteo.usuario2" name="usuario2" interface="popover" required >
              <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Usuario 3</ion-label>
            <ion-select [(ngModel)]="conteo.usuario3" name="usuario3" interface="popover" required >
              <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Usuario 4</ion-label>
            <ion-select [(ngModel)]="conteo.usuario4" name="usuario4" interface="popover" >
              <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <button ion-button block >
              Actualizar
            </button>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
