<!--
  Generated template for the UsuariosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary" >
	  	<div class="toolbar-background"></div>
    	<button ion-button menuToggle>
    		<ion-icon name="menu"></ion-icon>
		</button>
    	<div class="toolbar-content"></div>
    	<ion-title>{{'USUARIOS'|translate}}</ion-title>    	
	</ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 
  <div *ngIf="general">
    <ion-grid>
      <ion-row>
        <!--
        <ion-col col-6>        
          <ion-select [(ngModel)]="sucursal"  interface="popover" (ionChange)="filterItems($event)">            
            <ion-option value="{{sucursal.nombre}}" *ngFor="let sucursal of sucursales">{{sucursal.nombre}}</ion-option>
          </ion-select>
        </ion-col>
      -->
        <ion-col col-12>
          <button ion-button full (click)="addUser()">{{'AGREGAR_USUARIO'|translate}} <ion-icon name="add" style="margin-left: 10px;"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item-sliding *ngFor="let usuario of usuarios">
        <button ion-item (click)="loadUsuario(usuario.id)">
          <p>{{usuario.nombre}}</p>
          <p>{{usuario.departamento}}</p>
        </button>
        <ion-item-options >
          <button ion-button color="danger" (click)="deleteUser(usuario.usuario)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>


  <div *ngIf="alta">
    <form (ngSubmit)="saveUser()" autocomplete="off" [formGroup]="saveUserForm" #userForm="ngForm">
     <ion-list>
      <div style="margin-top: 8%; margin-left: 10px; margin-right: 10px;">
        <ion-item>
          <ion-label stacked>{{ 'USERNAME' | translate }}</ion-label>
          <ion-input [(ngModel)]="account.usuario" name="usuario" (input)="toUpperCaseUsuario()" required formControlName="usuarioValidator"></ion-input>
        </ion-item>  
        <ion-item>      
        <ion-label stacked>{{ 'SUCURSAL' | translate }}</ion-label>
          <ion-select [(ngModel)]="account.sucursal" text-right float-right name="sucursal" interface="popover" formControlName="sucursalValidator" required>
            <ion-option value="{{sucursal.nombre}}" *ngFor="let sucursal of sucursales">{{sucursal.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.password" name="password" required formControlName="passwordValidator"></ion-input>
        </ion-item>        
        <ion-item>
          <ion-label stacked>{{ 'NAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.nombre" name="nombre" (input)="toUpperCaseNombre()" required formControlName="nombreValidator"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'DEPARTMENT' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.departamento" name="departamento" (input)="toUpperCaseDepartamento()" required formControlName="departamentoValidator"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="email" formControlName="emailValidator"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'JOB' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.puesto" name="puesto" (input)="toUpperCasePuesto()" required formControlName="puestoValidator"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'PERMISSION' | translate }}</ion-label>
          <ion-select [(ngModel)]="account.permiso" text-right float-right name="permiso" interface="popover" formControlName="permisoValidator" required>
            <ion-option value="ADMIN" text-right float-right>{{ 'ADMIN' | translate }}</ion-option>
            <ion-option value="USER" text-right float-right>{{ 'USER' | translate }}</ion-option>
          </ion-select> 
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'STATUS' | translate }}</ion-label>
          <ion-select [(ngModel)]="account.estado" text-right float-right name="estado"  interface="popover"  formControlName="statusValidator" required>
            <ion-option value="1" text-right float-right>{{ 'ACTIVO' | translate }}</ion-option>
            <ion-option value="2" text-right float-right>{{ 'BLOQUEADO' | translate }}</ion-option>
          </ion-select> 
        </ion-item>
      </div>
      <div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
        <button ion-button color="primary" type="submit" [disabled]="!userForm.form.valid" block>{{ 'ADD_BUTTON' | translate }}</button>
      </div>      
     </ion-list>
    </form>
    <div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
      <button ion-button color="danger" block (click)="cancelUser()">{{ 'CANCEL_BUTTON' | translate }}</button>          
    </div>
  </div>


  <div *ngIf="modificacion">
    <form (ngSubmit)="updateUser()" autocomplete="off" [formGroup]="editUserForm" #euserForm="ngForm">
     <ion-list>
      <div style="margin-top: 8%; margin-left: 10px; margin-right: 10px;">
        <ion-item>
          <ion-label stacked>{{ 'USERNAME' | translate }}</ion-label>
          <ion-input name="usuario" [(ngModel)]="usuario.usuario" (input)="toUpperCaseUsuario()" formControlName="eusuarioValidator" required></ion-input>
        </ion-item>
        <ion-item>
           <ion-label stacked>{{ 'SUCURSAL' | translate }}</ion-label>
          <ion-select text-right float-right name="sucursal" [(ngModel)]="usuario.sucursal" formControlName="esucursalValidator" interface="popover" required>           
            <ion-option value="{{sucursal.nombre}}" *ngFor="let sucursal of sucursales">{{sucursal.nombre}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="text" name="password" [(ngModel)]="usuario.password" formControlName="epasswordValidator" required></ion-input>
        </ion-item>        
        <ion-item>
          <ion-label stacked>{{ 'NAME' | translate }}</ion-label>
          <ion-input type="text" name="nombre" [(ngModel)]="usuario.nombre" (input)="toUpperCaseNombre()"  formControlName="enombreValidator" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'DEPARTMENT' | translate }}</ion-label>
          <ion-input type="text" name="departamento" [(ngModel)]="usuario.departamento" (input)="toUpperCaseDepartamento()" formControlName="edepartamentoValidator" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'EMAIL' | translate }}</ion-label>
          <ion-input type="email" name="correo" [(ngModel)]="usuario.correo" formControlName="eemailValidator"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'JOB' | translate }}</ion-label>
          <ion-input type="text" name="puesto" [(ngModel)]="usuario.puesto" (input)="toUpperCasePuesto()" formControlName="epuestoValidator" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'PERMISSION' | translate }}</ion-label>
          <ion-select  text-right float-right name="permiso" [(ngModel)]="usuario.permiso"  interface="popover" formControlName="epermisoValidator" required>
             <ion-option *ngFor="let item of permisos">{{item.nombre}}</ion-option>
          </ion-select> 
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'STATUS' | translate }}</ion-label>
          <ion-select text-right float-right name="estado" [(ngModel)]="usuario.status" interface="popover" formControlName="estatusValidator" required>
             <ion-option *ngFor="let stat of status" value={{stat.status}}>{{stat.nombre}}</ion-option>
            <!--
            <ion-option value="1" text-right float-right>{{ 'ACTIVO' | translate }}</ion-option>
            <ion-option value="2" text-right float-right>{{ 'BLOQUEADO' | translate }}</ion-option>-->
          </ion-select> 
        </ion-item>
      </div>
      <div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
        <button ion-button color="primary" block type="submit" [disabled]="!euserForm.form.valid">{{ 'SAVE' | translate }}</button>          
      </div>      
     </ion-list>
    </form>
    <div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
      <button ion-button color="danger" block (click)="cancelUser()">{{ 'CANCEL_BUTTON' | translate }}</button>          
    </div>
  </div>
</ion-content>
