<ion-header>

  <ion-navbar>
    <ion-title>{{ detalle.documento }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>
        <ion-row>
          <ion-col>
            <h4>{{ detalle.ubicacion }}</h4><br/>
            <p>
              <small><b>Descripcion:</b> {{ detalle.descripcion }}</small><br/>
              <small><b>Código:</b> {{ detalle.codigo }}</small>
            </p>
          </ion-col>
        </ion-row>
    </ion-col>
    <ion-col>
      <img src="{{detalle.imagen}}" alt=""/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Lote: {{ detalle.lote }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item class="form-item">
        <ion-icon name="cube" item-start></ion-icon>
        <ion-label floating>PzasxCaja</ion-label>
        <ion-input #input1 type="number" id="input1" min="1" [(ngModel)]="conteo.piezasxcaja" ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item  class="form-item">
        <ion-icon name="cube" item-start></ion-icon>
        <ion-label floating>Cajas</ion-label>
        <ion-input type="number" min="1" [(ngModel)]="conteo.cajas" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item  class="form-item">
        <ion-icon name="cube" item-start></ion-icon>
        <ion-label floating>Resto</ion-label>
        <ion-input type="number" min="0" [(ngModel)]="conteo.resto" ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <!--ion-item  class="form-item">
        <ion-icon name="cube" item-start></ion-icon>
        <ion-label floating>Total</ion-label>
        <ion-input type="number" readonly [(ngModel)]="conteo.total" ></ion-input>
      </ion-item-->
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="chatboxes" item-start></ion-icon>
        <ion-label floating>Comentario</ion-label>
        <ion-input type="text" [(ngModel)]="conteo.comentario"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button ion-button (click)="saveData()" >Guardar y Siguiente</button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="backTo()" >Salir</button>
    </ion-col>
  </ion-row>

</ion-content>
