<ion-header>

  <ion-navbar>
    <ion-title>Conteo | Usuarios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

      <ion-item>
        <ion-label floating>Usuario 1</ion-label>
        <ion-select [(ngModel)]="usuarios.usuario1" name="usuario1" interface="popover" required >
          <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Usuario 2</ion-label>
        <ion-select [(ngModel)]="usuarios.usuario2" name="usuario2" interface="popover" required >
          <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Usuario 3</ion-label>
        <ion-select [(ngModel)]="usuarios.usuario3" name="usuario3" interface="popover" required >
          <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Usuario 4</ion-label>
        <ion-select [(ngModel)]="usuarios.usuario4" name="usuario4" interface="popover" >
          <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <button ion-button block (click)="closeModal()" >
          Confirmar
        </button>
      </ion-item>

    </ion-list>

  

</ion-content>
