<ion-header>

  <ion-navbar>
    <ion-title>Paqueteria | Modificar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="updatePaqueteria()" autocomplete="off" >

    <ion-item  >
      <ion-label color="default" floating>Nombre</ion-label>
      <ion-input required name="paqueteria" [(ngModel)]="paqueteria.paqueteria" (input)="toUpperCaseNombre()" ></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label color="default" floating>Dirección</ion-label>
      <ion-input required name="direccion" [(ngModel)]="paqueteria.direccion" (input)="toUpperCaseDireccion()" ></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label color="default" floating>Contacto</ion-label>
      <ion-input required name="contacto" [(ngModel)]="paqueteria.contacto" (input)="toUpperCaseContacto()" ></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label color="default" floating>Teléfono</ion-label>
      <ion-input required name="telefono" [(ngModel)]="paqueteria.telefono" (input)="toUpperCaseTelefono()" ></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label color="default" floating>Celular</ion-label>
      <ion-input required name="celular" [(ngModel)]="paqueteria.celular" (input)="toUpperCaseCelular()" ></ion-input>
    </ion-item>

    <ion-item  >
      <ion-label color="default" floating>Correo Electrónico</ion-label>
      <ion-input required name="correo" [(ngModel)]="paqueteria.correo" (input)="toUpperCaseCorreo()" ></ion-input>
    </ion-item>

    <button ion-button block color="primary" type="submit" [disabled]="!loginForm.form.valid">Actualizar</button>

  </form>

</ion-content>
