<ion-header>

  <ion-navbar color="primary" class="toolbar toolbar-md" >

    <ion-title>
      <ion-icon name="bluetooth"></ion-icon> Lista de Dispositivos
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item *ngFor="let item of printerList" (tap)="select(item)">
    <ion-icon name="phone-portrait"></ion-icon> {{item.name}}
  </ion-item>
</ion-list>
</ion-content>
