<ion-header>

  <ion-navbar>
    <ion-title>Orden {{order.documento}} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <b>Cliente: </b>{{order.ds}}
        </ion-col>
        <ion-col>
          <b>Fecha: </b>{{order.fecha}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>Nombre: </b>{{order.nombre}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>Comentario: </b>{{order.comentario_in}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <form #loginForm="ngForm" (ngSubmit)="updateOrder()" autocomplete="off" >
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-label floating>Surtidor</ion-label>
            <ion-select [(ngModel)]="order.usuario1" name="usuario1" interface="popover" required >
              <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Verificador</ion-label>
            <ion-select [(ngModel)]="order.usuario2" name="usuario2" interface="popover" required >
              <ion-option value="{{user.id}}" *ngFor="let user of users">{{user.nombre}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <button ion-button block >
              Actualizar
            </button>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
