<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar hideBackButton="true"  color="primary" class="toolbar toolbar-md" no-border-top="">
  	<div class="toolbar-background"></div>
    	<button ion-button menuToggle>
    		<ion-icon name="menu"></ion-icon>
		</button>
    	<div class="toolbar-content"></div>
    	<ion-title>Dashboard</ion-title>
    	<ion-buttons end>
		    <button ion-button (click)="closeSession()">
          <ion-icon name="close-circle"></ion-icon>
        </button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content padding  id="menu-dashboard-content">	  	
    <ion-list>
    	<ion-item *ngIf="ordenes">
    		<button ion-item no-lines (click)="openOrders()">
				<ion-icon item-end="" name="custom-ordenes" role="img" class="icon item-icon"></ion-icon>{{'ORDENES'|translate}} 
			</button>
    	</ion-item>
    	<ion-item  *ngIf="definiciones">
    		<button ion-item no-lines (click)="openDefinitions()">
				<ion-icon item-end=""name="custom-definiciones" role="img" class="icon item-icon"></ion-icon>{{'DEFINICIONES'|translate}} 
			</button>
    	</ion-item>

  		<ion-item  *ngIf="buscar">
  			<button ion-item no-lines (click)="openSearch()">
	    		<ion-icon item-end name="ios-search" class="icon item-icon"></ion-icon>
	      			{{'BUSCAR'|translate}}    		
      		</button>
  		</ion-item>
      <!--
  		<ion-item  *ngIf="reportes">
  			<button ion-item no-lines (click)="openReports()">
	  			<ion-icon item-end name="ios-stats" item-end></ion-icon>
	    			{{'REPORTE'|translate}} 
	    	</button>   		
  		</ion-item>
      -->
  		<ion-item  *ngIf="imprimir">  
  			<button ion-item no-lines (click)="openPrinter()">
	  			<ion-icon item-end="" name="custom-etiquetas" role="img" class="icon item-icon"></ion-icon>
		    	 {{'IMPRIMIR'|translate}}
		    </button>			
  		</ion-item>
  		<!--<ion-item>  
        <button ion-item no-lines (click)="openUsers()">
          <ion-icon item-end name="people" item-end></ion-icon>
           {{'USUARIOS'|translate}}
        </button>     
      </ion-item>-->
      <ion-item  *ngIf="gestion">  
        <button ion-item no-lines (click)="openManagment()">
          <ion-icon item-end="" name="custom-gestiones" role="img" class="icon item-icon"></ion-icon>
           {{'GESTION'|translate}}
        </button>     
      </ion-item>
      <!--
      <ion-item  *ngIf="inventario">  
        <button ion-item no-lines (click)="openInventory()">
          <ion-icon item-end name="list-box" item-end></ion-icon>
           {{'INVENTARIO'|translate}}
        </button>     
      </ion-item>
      -->
	</ion-list>
  <ion-footer>
    <div style="margin-left: 15px; margin-right: 15px; text-align: center; font-size: 10px;">
      <p>{{nombre}} - {{usuario}}</p>     
    </div>
 </ion-footer>
   
</ion-content>

