<ion-header>

  <ion-navbar color="primary" class="toolbar toolbar-md" no-border-top="">
    <ion-title>Definiciones | Ubicacion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="existsUbicacion()" autocomplete="off" [formGroup]="ubicacionform" >
    <ion-list>

      <ion-item>
        <ion-label floating>Almacen</ion-label>
        <ion-select [(ngModel)]="ubicacion.almacen" name="almacen" formControlName="almacen" interface="popover" (ionChange)="almacenFijo($event)">
          <ion-option value="{{almacen.almacen}}" *ngFor="let almacen of almacenes">{{almacen.almacen}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item  >
        <ion-label color="default" floating>Ubicación</ion-label>
        <ion-input required name="ubicacion" [(ngModel)]="ubicacion.ubicacion" formControlName="ubicacion" ></ion-input>
      </ion-item>


      <br/>
      <button ion-button block color="primary" type="submit" [disabled]="!loginForm.form.valid">Crear</button>

    </ion-list>

  </form>

</ion-content>
