<ion-header>

  <ion-navbar>
    <ion-title>{{ nombre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab right edge>
    <button ion-fab mini>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab-list side="bottom">
      <button ion-fab (click)="sort()" ><ion-icon name="at"></ion-icon></button>
      <button ion-fab (click)="sortUbicacion()" ><ion-icon name="pin"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-item>
    <b>Comentario:</b><small>{{comentario}}</small>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let detalle of detalles; let i = index" (click)="loadOrderItem(detalle)" >
      <ion-badge item-start color="success">{{i+1}}</ion-badge>
      <small>{{detalle.codigo}}</small><br/>
      <small>{{detalle.ubicacion}}</small>
      <ion-icon name="barcode" item-end></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
