<ion-header>

  <ion-navbar>
    <ion-title>Orden {{ detalle.documento }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col>
      <b>Descripción: </b>
      {{ detalle.descripcion }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col col-6>
          <ion-row>
            <ion-col><b>Codigo: </b>{{order[0].codigo}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>Cantidad: </b>{{order[0].cantidad}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <img src="{{ order[0].imagen }}" alt="Imagen">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>

        <ion-card-content>

          <ion-row>
            <ion-col col-4>
              <ion-item  >
                <ion-label class="textLabel" color="default" floating>Piezas</ion-label>
                <ion-input class="textLabel" required name="piezas" [(ngModel)]="row.piezas" ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item  >
                <ion-label class="textLabel" color="default" floating>Cajas</ion-label>
                <ion-input class="textLabel" required name="cajas" [(ngModel)]="row.cajas" ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item  >
                <ion-label class="textLabel" color="default" floating>Resto</ion-label>
                <ion-input class="textLabel" required name="resto" [(ngModel)]="row.resto" ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item  >
                <ion-label class="textLabel" color="default" floating>Reempaque</ion-label>
                <ion-input required name="reempaque" [(ngModel)]="row.reempaque" ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col  col-6>
              &nbsp;
            </ion-col>
          </ion-row>

        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-icon name="chatbubbles" item-start></ion-icon>
        <ion-input type="text" name="comentario" placeholder="Comentario" [(ngModel)]="row.comentario" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6>
      <button ion-button color="primary" block (click)="sendData()"  >Continuar</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button color="danger" (click)="salir()" block>Salir</button>
    </ion-col>
  </ion-row>

</ion-content>
