<ion-header>

  <ion-navbar>
    <ion-title>Detalle lote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #loginForm="ngForm" (ngSubmit)="insertLote()" autocomplete="off">

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Alto</ion-label>
          <ion-input type="number" required name="alto" [(ngModel)]="detail.alto" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Ancho</ion-label>
          <ion-input type="number" required name="ancho" [(ngModel)]="detail.ancho" ></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Largo</ion-label>
          <ion-input type="number" required name="largo" [(ngModel)]="detail.largo" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Peso</ion-label>
          <ion-input type="number" required name="peso" [(ngModel)]="detail.peso" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>CBM</ion-label>
            <ion-input disabled="true" required name="cbm" value="{{detail.alto * detail.ancho * detail.largo }}" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>AÑO</ion-label>
            <ion-input type="number" required name="ano" [(ngModel)]="detail.ano" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>FECHA</ion-label>
            <ion-datetime displayFormat="YYYY/MM/DD" required name="fecha" [(ngModel)]="detail.fecha"></ion-datetime>
        </ion-item>    
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Master</ion-label>
          <ion-input type="number" required name="master" [(ngModel)]="detail.master" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Inner</ion-label>
          <ion-input type="number" required name="inner" [(ngModel)]="detail.inner" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block color="primary" type="submit" [disabled]="!loginForm.form.valid">Crear</button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
