<ion-header>

  <ion-navbar color="primary" class="toolbar toolbar-md" no-border-top="">

    <ion-title>Etiquetas / Códigos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="listBTDevice()">
        <ion-icon name="bluetooth"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="general">
    <ion-item no-lines>
      <button ion-item (click)="eCodigos()" class="text-olive" color="olive">
        <ion-icon item-end name="pricetag"></ion-icon>Códigos
      </button>
    </ion-item>
    <ion-item no-lines>
      <button ion-item (click)="ePedidos()" class="text-olive" color="olive">
        <ion-icon item-end name="pricetag"></ion-icon>Pedidos
      </button>
    </ion-item>
  </ion-list>

	<div *ngIf="etiquetaCodigos">
		<ion-card>
		  <ion-card-header>

		  </ion-card-header>
		  <ion-card-content>
		    <ion-grid>
		    	<ion-row>
		    		<ion-item>
						<ion-input placeholder="Código" clearInput
                          [(ngModel)]="codigo"
                          (ionChange)="codigo = setFilteredItems(codigo)"
                          (ionBlur)="loadCode( codigo )" #inputCodigo></ion-input>
					</ion-item>
		    	</ion-row>
		    	<ion-row>
		    		<ion-item>
						<ion-input placeholder="Lote" clearInput
                          [(ngModel)]="lote"
                          (ionChange)="lote = setFilteredItems(lote)"
                                ></ion-input>
					</ion-item>
		    	</ion-row>
          <ion-row>
            <ion-item>
              <ion-label>Fecha</ion-label>
              <ion-input [(ngModel)]="date" placeholder="DD/MM/YYYY" (ionChange)="date = maskedDate(date)" type="text" maxlength="10"></ion-input>
				    </ion-item>
		    	</ion-row>
          <ion-row>
            <ion-item>
              <ion-label item-left >Cantidad</ion-label>
              <ion-input [(ngModel)]="quantity" type="number"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-label>&nbsp;</ion-label>
            <button item-left ion-button icon-only clear="true" large (click)="decrease()"><ion-icon name="remove-circle" color="danger"></ion-icon></button>
            <button item-right ion-button icon-only clear="true" large (click)="increase()"><ion-icon name="add-circle" color="secondary"></ion-icon></button>
          </ion-row>
			  <ion-row>
			    <ion-col col-6><button ion-button block clear color="gray" padding (click)="cancel()">Cancelar</button></ion-col>
			    <ion-col col-6><button ion-button block color="primary" padding (click)="Print()">IMPRIMIR</button></ion-col>
			  </ion-row>
			</ion-grid>
		  </ion-card-content>
		</ion-card>
	</div>
	<div *ngIf="etiquetaPedidos">
		<ion-card>
		  <ion-card-header>
		    Etiquetado de pedidos
		  </ion-card-header>
		  <ion-card-content>
		    <ion-grid>
		       <ion-row>
		    		<ion-item>
						<ion-input placeholder="Orden" clearInput [(ngModel)]="orden"
                                                      (ionChange)="orden = setFilteredItems(orden)"></ion-input>
					</ion-item>
		       </ion-row>
		       <ion-row>
		    		<ion-item>
						<ion-input placeholder="Cajas" clearInput [(ngModel)]="cajas"
                                                      (ionChange)="cajas = setFilteredItems(cajas)"></ion-input>
					</ion-item>
		       </ion-row>
           <ion-row>
 		    		<ion-item>
              <ion-label>Fecha</ion-label>
              <ion-input [(ngModel)]="date" placeholder="DD/MM/YYYY" (ionChange)="date = maskedDate(date)" type="text" maxlength="10"></ion-input>
				    </ion-item>
 		    	</ion-row>
			   <ion-row>
			    <ion-col col-6><button ion-button block clear color="gray" padding (click)="cancel()">Cancelar</button></ion-col>
			    <ion-col col-6><button ion-button block color="primary" padding (click)="Print()">IMPRIMIR</button></ion-col>
			   </ion-row>
			</ion-grid>
		  </ion-card-content>
		</ion-card>

	</div>
</ion-content>
