<ion-header>
	<ion-navbar *navbar primary>
		<ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding> 
  <div class="splash-logo" style="margin-top: 10px;"></div>
	<form (submit)="doLogin()">
    <ion-list>
      <div style="margin-top: 8%;">
        <ion-item style="margin-left: 10px; margin-right: 10px;">
          <ion-label stacked>{{ 'USERNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.usuario" name="usuario" placeholder="{{ 'PLACEHOLDER_USER' | translate }}"></ion-input>
        </ion-item>

        <ion-item style="margin-left: 10px; margin-right: 10px;">
          <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
          <ion-input type="{{type}}" [(ngModel)]="account.password" name="password" placeholder="{{ 'PLACEHOLDER_PASSWORD' | translate }}" required pattern=".{4,10}"></ion-input>
          <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
          <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>

        </ion-item>
        <div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
            <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>          
        </div>
      </div>
    </ion-list>
  </form> 
</ion-content>
