<ion-header>

  <ion-navbar>
    <ion-title>Conteo | Cantidades</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="loadFile()" autocomplete="off" >

    <ion-list>
      <ion-item>
        <ion-label id="profile_image" color="primary" stacked>Archivo CSV</ion-label>
        <ion-input type="file" name="csvFile"  (change)="changeListener($event)"></ion-input>
      </ion-item>
    </ion-list>

  </form>

  <ion-list>
    <ion-item>
      Filas procesadas
      <ion-badge item-end>{{ result.filas}}</ion-badge>
    </ion-item>
    <ion-item>
      Filas insertadas
      <ion-badge item-end>{{ result.insertados}}</ion-badge>
    </ion-item>
    <ion-item>
      Filas actualizadas
      <ion-badge item-end>{{ result.actualizados}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Errores
    </ion-list-header>
    <ion-item *ngFor="let error of result.errores" >
      {{error.content}}
      <ion-badge color="danger" item-end>Fila: {{ error.fila}}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
