<ion-header>
	<ion-toolbar hideBackButton="true"  color="primary" class="toolbar toolbar-md" no-border-top="">
	  	<div class="toolbar-background"></div>
	    	<button ion-button menuToggle>
	    		<ion-icon name="menu"></ion-icon>
			</button>
	    	<div class="toolbar-content"></div>
	    	<ion-title>{{'BUSCAR'|translate}}</ion-title>


	</ion-toolbar>
</ion-header>


<ion-content padding>
	<ion-list>
	    <ion-item no-lines>
	    	<button ion-item (click)="openSerchUbicacion()">Códigos por Ubicación
			<ion-icon item-end="" name="search" role="img" class="icon  item-icon"></ion-icon>
				</button>
	    </ion-item>

	    <ion-item no-lines>
	    	<button ion-item (click)="openUbicacionesCodigo()">Ubicaciones por Código
			<ion-icon item-end="" name="search" role="img" class="icon  item-icon"></ion-icon>
				</button>
	    </ion-item>

	    <ion-item no-lines>
	    	<button ion-item (click)="openLotesCodigo()">Lotes por Código
			<ion-icon item-end="" name="search" role="img" class="icon  item-icon"></ion-icon>
				</button>
	    </ion-item>

	    <ion-item no-lines>
	    	<button ion-item (click)="openUbicacionAlmacen()">Ubicaciones por Almacén
			<ion-icon item-end="" name="search" role="img" class="icon  item-icon"></ion-icon>
				</button>
	    </ion-item>
	</ion-list>
</ion-content>
