<ion-header>
  <ion-toolbar hideBackButton="true"  color="primary" class="toolbar toolbar-md" no-border-top="">
  	<div class="toolbar-background"></div>
    	<button ion-button menuToggle>
    		<ion-icon name="menu"></ion-icon>
		</button>

    	<div class="toolbar-content"></div>
    	<ion-title>{{'DEFINICIONES'|translate}}</ion-title>
    	<ion-buttons end>
		  <!--
		  <button ion-button>
		    <ion-icon name="search"></ion-icon>
		  </button>-->
		</ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item no-lines>
      <button ion-item (click)="openUbicacion()" >
			     <ion-icon item-end="" name="custom-ubicaciones" role="img" class="icon  item-icon"></ion-icon>
           {{'UBICACIONES'|translate}}
			</button>
    </ion-item>

    <ion-item no-lines>
      <button class="item item-block" ion-item (click)="openLote()" >
			     <ion-icon item-end="" name="custom-lotes" role="img" class="icon item-icon"></ion-icon>
           {{'LOTES'|translate}}
			</button>
    </ion-item>

    <ion-item no-lines>
      <button ion-item (click)="openRelaciones()">
	        <ion-icon item-end name="custom-relaciones" class="icon item-icon"></ion-icon>
	      	{{'RELACIONES'|translate}}
      </button>
  	</ion-item>

    <ion-item no-lines>
      <button ion-item (click)="openAlmacenes()">
	        <ion-icon item-end name="custom-warehouse" class="icon item-icon"></ion-icon>
	      	{{'ALMACENES'|translate}}
      </button>
  	</ion-item>

    <ion-item no-lines>
      <button ion-item (click)="openCodigos()">
	        <ion-icon item-end name="custom-codigos" class="icon item-icon"></ion-icon>
	      	{{'CODIGOS'|translate}}
      </button>
  	</ion-item>

    <ion-item no-lines>
      <button ion-item (click)="openPaqueterias()">
	        <ion-icon item-end name="custom-paqueterias" class="icon item-icon"></ion-icon>
	      	{{'PAQUETERIAS'|translate}}
      </button>
  	</ion-item>

    <ion-item *ngIf="usuarios" no-lines (click)="openUsuarios()">
      <button ion-item>
	        <ion-icon item-end name="people" class="icon item-icon"></ion-icon>
	      	{{'USUARIOS'|translate}}
      </button>
  	</ion-item>

  </ion-list>
</ion-content>
