<ion-header>

  <ion-navbar>
    <ion-title>Definiciones | Paqueterías</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Sucursal</ion-label>
        <ion-select [(ngModel)]="sucursal" name="sucursal" interface="popover" (ionChange)="filterItems($event)" >
          <ion-option value="{{sucursal.id}}" *ngFor="let sucursal of sucursales" >{{sucursal.nombre}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col>&nbsp;</ion-col>
    <ion-col>
      <button ion-button icon-end color="primary" (click)="addPaqueteria()" >
        Agregar
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding *ngFor="let paqueteria of paqueterias">
          <ion-item >
            <ion-avatar item-start>
              <ion-icon name="bus"></ion-icon>
            </ion-avatar>
            <h2>{{ paqueteria.paqueteria }}</h2>
            <p>{{ paqueteria.contacto }}</p>
          </ion-item>
          <ion-item-options side="rigth">
            <button ion-button color="secondary" (click)="modifyPaqueteria(paqueteria)" >
              <ion-icon name="create"></ion-icon>
              Modificar
            </button>
            <button ion-button color="danger" (click)="deletePaqueteria(paqueteria)" >
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
