<ion-header>

  <ion-navbar>
    <ion-title>Definiciones | Relaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="existsRelacion()" autocomplete="off" [formGroup]="relacionesform" >

    <ion-list>

      <ion-item>
        <ion-label floating>Almacen</ion-label>
        <ion-select [(ngModel)]="relaciones.almacen" name="almacen" formControlName="almacen" interface="popover" (ionChange)="validUbicacionAlmacen()" >
          <ion-option value="{{almacen.almacen}}" *ngFor="let almacen of almacenes" >{{almacen.almacen}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item  >
        <ion-label color="default" floating>Ubicación</ion-label>
        <ion-input  #input required name="ubicacion" [(ngModel)]="relaciones.ubicacion" formControlName="ubicacion" (change)="validUbicacionAlmacen()" ></ion-input>
      </ion-item>
     
      <ion-item *ngIf="!showSearchCode">
        <ion-label color="default" floating>Código</ion-label>
        <ion-input required readonly name="codigo" formControlName="codigo" [(ngModel)]="relaciones.codigo" ></ion-input>
      </ion-item>

      <ion-item *ngIf="!showSearchCode" no-lines>
        <ion-label floating>Lote</ion-label>
        <ion-select [(ngModel)]="relaciones.lote" name="lote" formControlName="lote" interface="popover"  >
          <ion-option value="{{lote.lote}}" *ngFor="let lote of lotes" >{{lote.lote}}</ion-option>
        </ion-select>
      </ion-item>

      

    </ion-list>

    <button *ngIf="!showSearchCode && relaciones.lote.length!=0 && error.ubicacion==''" ion-button block color="primary" type="submit" [disabled]="!loginForm.form.valid">Crear</button>

  </form>

  <ion-searchbar [(ngModel)]="searchCode" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Código"
  *ngIf="showSearchCode"></ion-searchbar>
  <ion-list>
      <ion-item *ngFor="let code of codes" (click)="codeSelected(code)" >
          {{code.codigo}} - {{ code.descripcion }}
      </ion-item>
  </ion-list>
  <ion-item no-lines>
    <ion-label  color="danger" style="font-size:13px;">{{error.ubicacion}}</ion-label>
  </ion-item>

  <ion-item no-lines>
    <ion-label color="danger" style="font-size:13px;">{{error.lotes}}</ion-label>
  </ion-item>
</ion-content>
