<ion-header>

  <ion-navbar>
    <ion-title>Definiciones | Lote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar [(ngModel)]="searchCode" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Código"
  *ngIf="showSearchCode"></ion-searchbar>

  <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
  </div>

  <form #loginForm="ngForm" (ngSubmit)="existsLote()" autocomplete="off" >

    <ion-list>
        <ion-item *ngFor="let code of codes" (click)="codeSelected(code)" >
            {{code.codigo}}
        </ion-item>
    </ion-list>

    <ion-item *ngIf="!showSearchCode">
      <ion-label color="default" floating>Código</ion-label>
      <ion-input required name="codigo" [(ngModel)]="lote.codigo" ></ion-input>
    </ion-item>

    <ion-item *ngIf="!showSearchCode">
      <ion-label color="default" floating>Lote</ion-label>
      <ion-input required name="lote" [(ngModel)]="lote.lote" (input)="updateField();" ></ion-input>
    </ion-item>

    <button *ngIf="!showSearchCode" ion-button block color="primary" type="submit" [disabled]="!loginForm.form.valid">Crear</button>

  </form>

</ion-content>
