<ion-header>
  <ion-toolbar hideBackButton="true"  color="primary" class="toolbar toolbar-md" no-border-top="">
  	<div class="toolbar-background"></div>
    	<button ion-button menuToggle>
    		<ion-icon name="menu"></ion-icon>
		</button>

    	<div class="toolbar-content"></div>
    	<ion-title>Ordenes</ion-title>
    	<ion-buttons end>
		  <!--
		  <button ion-button>
		    <ion-icon name="search"></ion-icon>
		  </button>-->
		</ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="showToolbar">
    <ion-searchbar [(ngModel)]="searchString" showCancelButton="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ion-list *ngIf="permiso=='ADMIN' || permiso=='admin'" >
    <ion-item-sliding *ngFor="let conteo of conteos">
      <ion-item >
        <ion-icon name="cube" item-start></ion-icon>
          Conteo<br/>{{conteo.documento}}
        <ion-badge item-end>{{conteo.porcentaje}}%</ion-badge>
      </ion-item>
      <ion-item-options side="left" >
        <button ion-button color="primary" (click)="sendEmail(conteo)" >
          <ion-icon name="mail"></ion-icon>
            Email
          </button>
      </ion-item-options>
      <ion-item-options side="rigth">
        <button ion-button color="secondary" (click)="updateConteo(conteo)" >
          <ion-icon name="create"></ion-icon>
          Modificar
        </button>
        <button ion-button color="danger" (click)="deleteConteo(conteo)" >
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding *ngFor="let order of orders">
      <ion-item >
        <ion-icon name="cube" item-start></ion-icon>
          Orden<br/>{{order.documento}}
        <ion-badge item-end>{{order.porcentaje}}%</ion-badge>
      </ion-item>
      <ion-item-options side="left" >
        <button ion-button color="primary" (click)="sendEmail(order)" >
          <ion-icon name="mail"></ion-icon>
            Email
          </button>
      </ion-item-options>
      <ion-item-options side="rigth">
        <button ion-button color="secondary" (click)="updateOrder(order)" >
          <ion-icon name="create"></ion-icon>
          Modificar
        </button>
        <button ion-button color="danger" (click)="deleteOrder(order)" >
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list *ngIf="permiso!='ADMIN' && permiso!='admin'">
    <ion-item *ngFor="let conteo of conteos" (click)="conteoDetail(conteo)" >
      <ion-icon name="cube" item-start></ion-icon>
        Conteo 1<br/>{{conteo.documento}}
      <ion-badge item-end>{{conteo.porcentaje}}%</ion-badge>
    </ion-item>
    <ion-item *ngFor="let conteo of conteos2" (click)="conteoDetail2(conteo)" >
      <ion-icon name="cube" item-start></ion-icon>
        Conteo 2<br/>{{conteo.documento}}
      <ion-badge item-end>{{conteo.porcentaje}}%</ion-badge>
    </ion-item>
    <ion-item *ngFor="let conteo of conteos3" (click)="conteoDetail3(conteo)" >
      <ion-icon name="cube" item-start></ion-icon>
        Conteo 3<br/>{{conteo.documento}}
      <ion-badge item-end>{{conteo.porcentaje}}%</ion-badge>
    </ion-item>
    <ion-item *ngFor="let conteo of conteos4" (click)="conteoDetail4(conteo)" >
      <ion-icon name="cube" item-start></ion-icon>
        Conteo 4<br/>{{conteo.documento}}
      <ion-badge item-end>{{conteo.porcentaje}}%</ion-badge>
    </ion-item>
    <ion-item *ngFor="let order of orders" (click)="orderDetail(order)" >
      <ion-icon name="cube" item-start></ion-icon>
        Orden<br/>{{order.documento}}
      <ion-badge item-end>{{order.porcentaje}}%</ion-badge>
    </ion-item>
    <ion-item *ngFor="let order of orders2" (click)="orderDetail2(order)" >
      <ion-icon name="cube" item-start></ion-icon>
        Orden 2<br/>{{order.documento}}
      <ion-badge item-end>{{order.porcentaje}}%</ion-badge>
    </ion-item>
  </ion-list>

  <ion-fab bottom right *ngIf="permiso=='ADMIN' || permiso=='admin'">
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (tap)="reporte()">
        <ion-icon name="stats"></ion-icon>
      </button>
      <button ion-fab (tap)="conteo()">
        <ion-icon name="calculator"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
