// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.splash-logo {
    margin: auto;
    background: url('../assets/imgs/icon.png') repeat transparent;
    background-size: 100%;
    width: 120px;
    height: 120px;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 30% 30%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: .9em;
    height: .9em;
  }

  &[class*="custom-list"] {
    mask-image: url(../assets/icon/list.svg);
  }
  &[class*="custom-qr"] {
    mask-image: url(../assets/icon/qr-code.svg);
  }
  &[class*="custom-qr-alt"] {
    mask-image: url(../assets/icon/qr-code-alt.svg);
  }
  &[class*="custom-tag"] {
    mask-image: url(../assets/icon/tag.svg);
  }
  &[class*="custom-news"] {
    mask-image: url(../assets/icon/web-news.svg);
  }
  &[class*="custom-news"] {
    mask-image: url(../assets/icon/web-news.svg);
  }
  &[class*="custom-placeholder"] {
    mask-image: url(../assets/icon/placeholder.svg);
  }
  &[class*="custom-stock"] {
    mask-image: url(../assets/icon/stock.svg);
  }
  &[class*="custom-link"] {
    mask-image: url(../assets/icon/interlock.svg);
  }
  &[class*="custom-warehouse"] {
    mask-image: url(../assets/icon/warehouse.svg);
  }
  &[class*="custom-delivery"] {
    mask-image: url(../assets/icon/delivery.svg);
  }
  &[class*="ordenes"] {
    mask-image: url(../assets/icon/ordenes.svg);
  }
  &[class*="paqueterias"] {
    mask-image: url(../assets/icon/paqueterias.svg);
  }
  &[class*="codigos"] {
    mask-image: url(../assets/icon/codigos.svg);
  }
  &[class*="definiciones"] {
    mask-image: url(../assets/icon/definiciones.svg);
  }
  &[class*="etiquetas"] {
    mask-image: url(../assets/icon/etiquetas.svg);
  }
  &[class*="gestiones"] {
    mask-image: url(../assets/icon/gestion.svg);
  }
  &[class*="lotes"] {
    mask-image: url(../assets/icon/lote.svg);
  }
  &[class*="relaciones"] {
    mask-image: url(../assets/icon/relaciones.svg);
  }
  &[class*="ubicaciones"] {
    mask-image: url(../assets/icon/ubicaciones.svg);
  }

}
