<ion-header>

  <ion-navbar>
    <ion-title>Conteo | Crear</ion-title> <ion-buttons end>
      <button ion-button icon-on-ly  (click)="toTop()"><ion-icon name="arrow-up"></ion-icon></button>
      <button ion-button icon-on-ly  (click)="toBottom()"><ion-icon name="arrow-down"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="addConteo()" autocomplete="off" >

    <ion-row>
      <ion-col col-6>
        <ion-item>         
          <ion-label><small>CAT IN</small></ion-label>
          <ion-toggle checked="false" (ionChange)="updateCatIn($event)" ></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>    
          <ion-label><small>2</small></ion-label>
          <ion-toggle checked="false" (ionChange)="updateOpcion2($event)" ></ion-toggle>
        </ion-item>
      </ion-col>      
    </ion-row>
    <ion-row>      
        <ion-col col-6>
          <ion-item>    
            <ion-label><small>1</small></ion-label>
            <ion-toggle checked="false" (ionChange)="updateOpcion1($event)" ></ion-toggle>
          </ion-item>
        </ion-col>     
      <ion-col col-6>
        <ion-item>
          <ion-label><small>3</small></ion-label>
          <ion-toggle checked="false" (ionChange)="updateOpcion3($event)" ></ion-toggle>
        </ion-item>
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col col-8>    
        <ion-item>       
          <ion-label><small>GRUPO</small> </ion-label>
          <ion-select [(ngModel)]="conteo.grupo" name="grupo" interface="popover" (ionChange)="loadClasificaciones()" >
            <ion-option value="{{grupo.grupo}}" *ngFor="let grupo of grupos">
              <small>{{grupo.grupo}}</small>
            </ion-option>
          </ion-select>
        </ion-item>          
      </ion-col>
      <ion-col col-4>
       <button ion-button block (click)="reset()"><ion-icon name="close" item-start></ion-icon></button>       
      </ion-col>
    </ion-row>    
    <ion-row>
       <ion-col>
        <ion-item>        
          <ion-label>
            <small>CLASIFICACIÓN</small>
          </ion-label>
          <ion-select [(ngModel)]="conteo.clasificacion" name="clasificacion" interface="popover" (ionChange)="updateClasificacion()">
            <ion-option value="{{clasificacion.clasificacion}}" *ngFor="let clasificacion of clasificaciones">
              <small>{{clasificacion.clasificacion}}</small>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button block color="secondary"  (click)="seleccionar()">Seleccionar todo</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block color="danger"  (click)="limpiar()">Limpiar selección</button>
      </ion-col>
    </ion-row>
    <!--
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item *ngFor="let code of codes" >
            <ion-label>{{ code.codigo_padre }}</ion-label>
            <ion-toggle *ngIf="code.selected=='0'" checked="false" (ionChange)="setStatusCode(code,$event)" ></ion-toggle>
            <ion-toggle *ngIf="code.selected=='1'" checked="true" (ionChange)="setStatusCode(code,$event)" ></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    -->
    <ion-row>
      <ion-col col-12>
        <ion-list  [virtualScroll]="codes" [approxItemHeight]="'88px'" [bufferRatio]="70">        
          <ion-item *virtualItem="let code">
             <ion-label>{{ code.codigo_padre }}</ion-label>
            <ion-toggle *ngIf="code.selected=='0'" checked="false" (ionChange)="setStatusCode(code,$event)" ></ion-toggle>
            <ion-toggle *ngIf="code.selected=='1'" checked="true" (ionChange)="setStatusCode(code,$event)" ></ion-toggle>
          </ion-item>
         
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Almacen</ion-label>
          <ion-select [(ngModel)]="conteo.almacen" name="almacen" interface="popover" required (ionChange)="loadUsers()" >
            <ion-option value="{{almacen.almacen}}" *ngFor="let almacen of almacenes">{{almacen.almacen}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input [(ngModel)]="conteo.nombre" name="nombre" required (input)="updateField();"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>Comentario</ion-label>
          <ion-input [(ngModel)]="conteo.comentario" name="comentario" (input)="updateField2();" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block color="primary" type="submit" [disabled]="!loginForm.form.valid">Crear</button>
      </ion-col>
      <ion-col>
        <ion-item block (click)="addUsers()">
          <ion-icon name="person-add"></ion-icon>
        </ion-item>
        <!--button ion-button icon-only block (click)="addUsers()" >
          <ion-icon name="person-add"></ion-icon>
        </button-->
      </ion-col>
    </ion-row>

  </form>

</ion-content>
