<ion-header>

  <ion-navbar>
    <ion-title>Orden {{order.documento}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <b>Cliente: </b>{{order.ds}}
        </ion-col>
        <ion-col>
          <b>Fecha: </b>{{order.fecha}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>Nombre: </b>{{order.nombre}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>Comentario: </b>{{order.comentario_in}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <button ion-button block (click)="loadDetalles()" >Iniciar</button>
  </ion-item>

</ion-content>
