<ion-header>

  <ion-navbar>
    <ion-title>Orden {{ detalle.documento }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col>
      <b>Descripción: </b>
      {{ detalle.descripcion }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col col-6>
          <ion-row>
            <ion-col><b>Codigo: </b>{{order[0].codigo}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>Cantidad: </b>{{order[0].cantidad}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col><b>Pendiente: </b>{{ pendiente }}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <img src="{{ order[0].imagen }}" alt="Imagen">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>

        <ion-card-content>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label class="textLabel" stacked>Lote</ion-label>
                <ion-select class="textLabel" [(ngModel)]="row.lote" name="lote" interface="popover" (ionChange)="searchUbicacion($event)">
                  <ion-option value="{{lote.lote}}" *ngFor="let lote of lotes">{{lote.lote}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label stacked>Ubicación</ion-label>
                <ion-select class="textLabel"  [(ngModel)]="row.ubicacion" name="ubicacion" interface="popover" (ionChange)="enableFields($event)">
                  <ion-option value="{{ubicacion.ubicacion}}" *ngFor="let ubicacion of ubicaciones">{{ubicacion.ubicacion}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item  >
                <ion-label class="textLabel" color="default" floating>Piezas</ion-label>
                <ion-input class="textLabel" required name="piezas" [(ngModel)]="row.piezas" [disabled]="!showFields" ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item  >
                <ion-label class="textLabel" color="default" floating>Cajas</ion-label>
                <ion-input class="textLabel" required name="cajas" [(ngModel)]="row.cajas" [disabled]="!showFields" ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6>
              <ion-item  >
                <ion-label class="textLabel" color="default" floating>Resto</ion-label>
                <ion-input class="textLabel" required name="resto" [(ngModel)]="row.resto" [disabled]="!showFields" ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item  >
                <ion-label class="textLabel" color="default" floating>Reempaque</ion-label>
                <ion-input required name="reempaque" [(ngModel)]="row.reempaque" [disabled]="!showFields" ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-2></ion-col>
            <ion-col col-8>
              <ion-item>
                <ion-label class="textLabel">Eliminar relación</ion-label>
                <ion-checkbox color="dark" checked="false" [(ngModel)]="row.eliminar" [disabled]="!showFields" (click)="setEliminar($event)" ></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col col-2></ion-col>
          </ion-row>

        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6>
      <button ion-button icon-end [hidden]="showAddRelation" (click)="addRelacion()">
        Agregar
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12>
      <ion-item>
        <ion-icon name="chatbubbles" item-start></ion-icon>
        <ion-input type="text" name="comentario" placeholder="Comentario" [(ngModel)]="row.comentario" [disabled]="!showFields" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-6>
      <button ion-button color="primary" block (click)="sendData()"  [disabled]="!showFields" >Continuar</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button color="danger" (click)="salir()" block>Salir</button>
    </ion-col>
  </ion-row>

</ion-content>
