<!--
  Generated template for the SearchAlmacenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
    	<ion-title>Buscar | Ubicación por Almacen</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Almacen</ion-label>
          <ion-select [(ngModel)]="ubicacion.almacen" name="almacen" interface="popover" (ionChange)="buscarUbicaciones($event)">
            <ion-option value="{{almacen.almacen}}" *ngFor="let almacen of almacenes">{{almacen.almacen}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-list>
	  <ion-item-sliding *ngFor="let ubicacion of ubicaciones">
	    <ion-item>
	      <h2>{{ubicacion.ubicacion}}</h2>
	    </ion-item>
	    <ion-item-options side="right">
	      <button ion-button color="secondary" (click)="modificar(ubicacion)">
	        <ion-icon name="create"></ion-icon>
	        Modificar
	      </button>
	      <button ion-button color="danger" (click)="eliminar(ubicacion)">
	        <ion-icon name="close-circle"></ion-icon>
	        Eliminar
	      </button>
	    </ion-item-options>
	  </ion-item-sliding>
	</ion-list>
</ion-content>
