<ion-header>

  <ion-navbar>
    <ion-title>Buscar | Ubicaciónes por código</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="searchRelaciones()" autocomplete="off" [formGroup]="ubicacionform" >

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Almacen</ion-label>
          <ion-select [(ngModel)]="ubicacion.almacen" name="almacen" formControlName="almacen" interface="popover" (ionChange)="almacenFijo($event)">
            <ion-option value="{{almacen.almacen}}" *ngFor="let almacen of almacenes">{{almacen.almacen}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="default" floating>Ubicación</ion-label>
          <ion-input required name="ubicacion" [(ngModel)]="ubicacion.ubicacion" formControlName="ubicacion" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button block color="primary" type="submit" [disabled]="!loginForm.form.valid">Buscar</button>
      </ion-col>
    </ion-row>

  </form>

  <ion-list>
  <ion-item-sliding *ngFor="let codigo of codigos">
    <ion-item>
      <h2>{{codigo.codigo}}</h2>
      <p>{{codigo.lote}}</p>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="secondary" (click)="modificar(codigo)" >
        <ion-icon name="create"></ion-icon>
        Modificar
      </button>
      <button ion-button color="danger" (click)="eliminar(codigo)" >
        <ion-icon name="close-circle"></ion-icon>
        Eliminar
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

</ion-content>
