<ion-header>

  <ion-navbar>
    <ion-title>relacionModal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #loginForm="ngForm" (ngSubmit)="closeModal()" autocomplete="off" [formGroup]="relacionesform" >

    <ion-list>

      <ion-item>
        <ion-label floating>Lote</ion-label>
        <ion-input required name="lote" [(ngModel)]="relacion.lote" formControlName="lote" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Ubicación</ion-label>
        <ion-input required name="ubicacion" [(ngModel)]="relacion.ubicacion" formControlName="ubicacion" ></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button block >
          Confirmar
        </button>
      </ion-item>

    </ion-list>

  </form>

</ion-content>
