<ion-header>

  <ion-navbar>
    <ion-title>{{ nombre }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <b>Comentario:</b><small>{{comentario}}</small>
    <ion-icon name="reorder" item-end></ion-icon>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let detalle of detalles" (click)="agregarConteo(detalle)" >
      <ion-icon name="barcode" item-start></ion-icon>
        {{ detalle.ubicacion }}<br/>
        <small>{{detalle.codigo}}</small>
    </ion-item>
  </ion-list>

</ion-content>
